<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
       internalLogLevel="Info"
      internalLogFile="temp\internal-nlog.txt">
	<extensions>
    <add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<targets>
    <target name="database"
            xsi:type="Database"
            connectionString="Server=sedswbpsql01;Database=Mbc5_demo;User ID=mbcuser_demo;Password='F8GFxAtT9Hpzbnck';Connection Timeout=5"
            dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
            commandType="Text"
            commandText="INSERT INTO [opylogs](datetime,message,lvl,url,sessionId,code,hostname,ipaddress) VALUES (getdate(),@msg,@level,@url,@sessionId,@code,@hostname,@ipaddress)">

      <parameter name="@msg" layout="${message}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@url" layout="${aspnet-request:serverVariable=Url}" />
      <parameter name="@sessionId" layout="${aspnet-sessionid}" />
      <parameter name="@code" layout="${event-context:item=Code}" />
      <parameter name="@hostname" layout="${hostname}" />
      <parameter name="@ipaddress" layout="${local-ip:cachedSeconds=60}" />
    </target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="database" />
	</rules>
</nlog>
<!--  demo connectionString="Data Source=10.37.32.49;Initial Catalog=Mbc5_demo;User Id = mbcuser_demo; password = F8GFxAtT9Hpzbnck; Connect Timeout=5"-->